body{
    background-color: black;
}
.tvPrograms-container {
  display:grid;
  grid-template-columns: 1fr;
  gap: 10px;                             
  justify-items: center;                
  padding: 20px;
}

.tvPrograms-container video {
  width: 1350px;
  height: 560px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  
}
.tvPrograms-container video:fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover if you prefer */
}
/* Mobile adjustment: shrink videos for small screens */
@media (max-width: 1024px) {
    .tvPrograms-container video {
        width: 90vw;  /* almost full width of the screen */
        height: auto; /* maintain aspect ratio */
    }
}
